<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <button onclick="window.location.href='https://lydia-npc-library.onrender.com/'">Homepage</button>
        <button onclick="window.location.href='https://lydia-npc-library.onrender.com/about/'">About</button>
        <button onclick="window.location.href='https://lydia-npc-library.onrender.com/NPCList/'">NPC List</button>
        <button onclick="window.location.href='https://lydia-npc-library.onrender.com/writingadvice/'">Writing Advice</button>
         </nav>
    <h1>Index.html</h1>
    <p>Stuff and things</p>
</body>
</html>