<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPC List</title>
</head>
<body>
    <header>
    <h1>NPC Library - You're one stop for all quick NPC ideas! - NPC List</h1>
    </header>
    <p>Enjoy!</p>

    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/'">Homepage</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/about/'">About</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/NPCList/'">NPC List</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/writingadvice/'">Writing Advice</button>
</body>
</html>