{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writing advice</title>
</head>
<body>
    {% block content %}
    <header>
    <h1>NPC Library - You're one stop for all quick NPC ideas! - Writing Advice!</h1>
    </header>
    <h2>Writing Advice from the creator of the NPC Library</h2>
    <p>Note: This is all personal thoughts, each to their own and use the process that works for you. Do not take this as the be all and end all.</p>
    <ol>
        <li> Try to give each character a quirk, something that makes them stand out and memorable. You want to be able to mention the quirk and have your players remember who you are talking about.</li>
        
        <li> If your players are getting close and attached to an NPC, don't be afraid to kill them off to elicit an emotional reaction, but don't do so too often or players will stop even trying to form that emotional bond.</li>
        
        <li> No matter how dark and grim your world is, remember that we escape into stories for a reason, it does not hurt to have moments of levity amongst the worst times.</li>
        
        <li> Remember you're session zero when it comes to designing NPC's, some things may make more sense for an NPC, but don't put it in at the cost of making players uncomfortable.</li>
        
        <li> It's your game too, don't be afraid to have fun!</li>
    </ol>

    
</body>
{%endblock%}
</html>