/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light background color */
}

/* Header */
header {
    background-color: #810101; /* Dark background for the header */
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Navbar */
.navbar {
    margin-bottom: 2rem;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #343a40 !important; /* Navbar text color */
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #014181 !important; /* Hover color for navbar items */
}

/* Main Content */
main.container {
    padding: 2rem;
    background-color: #ffffff; /* White background for main content */
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Subtle shadow for the container */
}

/* Form Styling */
form {
    max-width: 600px;
    margin: 0 auto;
}

.form-control {
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #014181;
    border-color: #014181;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    background-color: #014181;
    border-color: #014181;
}

/* Footer */
footer {
    background-color: #014181; /* Dark background for the footer */
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}

footer .card {
    background-color: #2c3033; /* Slightly lighter background for the footer card */
    color: #ffffff;
}

footer .card-header {
    background-color: #495057;
    border-bottom: none;
}

footer .blockquote {
    margin-bottom: 0;
    font-size: 1rem;
}

footer .blockquote-footer {
    color: #ced4da;
}
.card-title a {
    text-decoration: none;
    color: #014181;
}

.card-title a:hover {
    color: #014181;
    text-decoration: underline;
}

.card-text {
    margin-bottom: 0.5rem;
}



