{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPC Hotel</title>

    <!-- CSS LINKS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <!-- BOOTSTRAP -->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <!-- FONTS ETC. -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />

      {% if user.is_authenticated %}
<li class="nav-item">
	<a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
</li>
{% else %}
<li class="nav-item">
	<a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
		href="{% url 'account_signup' %}">Register</a>
</li>
<li class="nav-item">
	<a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
</li>
{% endif %}

      <title>NPC Library - You're one stop for all quick NPC ideas!</title>
</head>
<body>
     <header>
      <h1>NPC Library - You're one stop for all quick NPC ideas!</h1>
     </header>
    <!-- NAV -->
     <nav>
    <button onclick="window.location.href='https://8000-ladyofgoats-lydianpclib-hseaob2ge48.ws.codeinstitute-ide.net/'">Homepage</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/about/'">About</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/NPCguests/'">NPC Entries</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/writingadvice/'">Writing Advice</button>
     </nav>
    
    
     {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}


    <!-- FOOTER -->
     <footer>
    <div class="card">
        <div class="card-header">
          Words of inspiration
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>After nourishment, shelter and companionship, stories are the thing we need most in the world.</p>
            <footer class="blockquote-footer">Phillip Pullman</footer>
          </blockquote>
        </div>
      </div>
    </footer>
</body>
</html>