<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/homepagestyles.css">
    <title>NPC Library - You're one stop for all quick NPC ideas! - Sign in page</title>
</head>
<body>
    <div class="canvas">
        <div class="header">
            <h1>NPC Library - Your one stop for all quick NPC ideas!</h1>
        </div>
        <div class="sign-up-section">
            <div class="label">Username:</div>
            <input type="text" class="text-input" id="username-signup">
            <div class="label">Password:</div>
            <input type="password" class="text-input" id="password-signup">
            <button class="button" id="signup-button">Sign up</button>
        </div>
        <div class="login-section">
            <div class="label">Username:</div>
            <input type="text" class="text-input" id="username-login">
            <div class="label">Password:</div>
            <input type="password" class="text-input" id="password-login">
            <button class="button" id="login-button">Log in</button>
        </div>
        <div class="image-section">
            <img src="placeholder.png" alt="NPC Image">
        </div>
        <input type="text" class="footer-text-input">
    </div>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/'">Homepage</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/about/'">About</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/NPCList/'">NPC List</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/writingadvice/'">Writing Advice</button>

</body>
</html>