{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
{% block content %}
<body>
    <h1>About the Creator</h1>
    <p>Hi everyone! Lydia here (the creator of this website), I thought I would just throw up a little about me section because it seemed like fun.
       I am something of a forever DM and as all your other Dungeon Masters out there know, sometimes your players wander off the beaten track and 
       maybe end up in a goblin fighting pit. When this happens its a good idea to have a selection of interesting NPC's to call on. That was the 
       origianl intention behind creating the NPC Library. Its not been easy to build, but I hope you get some good use out of it. good Luck!
    </p>

   
</body>
{%endblock%}
</html>