{% extends "base.html" %}

{% load static %}

{% block content %}
<div>
    <h1>About the Creator</h1>
    <p>Hi everyone! Lydia here (otherwise known as The Librarian), I thought I would just throw up a little about me section because it seemed like fun.
       I am something of a forever DM and as all your other Dungeon Masters out there know, sometimes your players wander off the beaten track and 
       maybe end up in a goblin fighting pit or 500 gold deep in a back alley gambling game. When this happens its a good idea to have a selection of interesting NPC's to call on.
        That was the origianl intention behind creating the NPC Library. Its not been easy to build, but I hope you get some good use out of it. Good Luck!
    </p>

   
</div>
{%endblock%}
