{% extends "base.html" %}

{% load static %}

{% block content %}
   <h1>Welcome to the NPC Library!</h1>

   <p>Greetings weary traveller, or harried Dungeon Master. This is the one stop spot for all your NPC needs. There are a selection of different NPC's to choose from at moments
    notice for whatever game needs you might have. If you want more, please check out elsewhere on the website for Writing Advice from The Librarian
    or the about section to find out a bit more about me, the Librarian. Happy creating! </p>
       
    

    <p>For those who have arrived here and want to create your own entries into the NPC library, please feel free to do so. I hope to have future updates make things a little more intuitive.
       For now I would ask that you keep the genre and job of NPC's fairly broad so they can be used for inspiration rather than cut out templates. Please create and enjoy, stories are the most
       important thing in the word after basic survival.</p>
    <br>
    <p>For those seeking inspiration for your NPC's, I offer the following snippets culled from the internet to inspire.</p>
     <br>
    <ul>
        <li>The Little Match girl is now a phantom luring people to their deaths.</li>
        
        <li>Princess Snow White and the Evil Snow Queen? One and the same.</li>
        
        <li>"If you value your life, the lives of everyone in this city...you won't wake the sleeping princess."</li>
        
        <li>After Jack the giant Killer slew the giant, the giants family must try to continue their lives.</li>
    </ul>

{%endblock%}