{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>NPC Library</title>

.navbar {
    margin 0 auto;
}

</head>
<body>
    {% block content %}
   <h1>Welcome to the NPC Library!</h1>

   <p>Greetings weary traveller, or harried Dungeon Master. This is the one stop spot for all your NPC needs. There are a selection of different NPC's to choose from at moments
    notice for whatever game needs you might have. If you want more, please check out elsewhere on the website for Writing Advice from The Librarian
    or the about section to find out a bit more about me, the Librarian. Happy creating! </p>
       
    

</body>
{%endblock%}
</html>