{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />>
    <title>NPC Library - You're one stop for all quick NPC ideas!</title>
</head>
<body>
    {% block content %}
    <header>
    <div class="canvas">
        <div class="header">
            <h1>NPC Library - Your one stop for all quick NPC ideas!</h1>
        </div>
    </header>
       
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/'">Homepage</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/about/'">About</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/NPCList/'">NPC List</button>
    <button onclick="window.location.href='https://lydia-npc-library.onrender.com/writingadvice/'">Writing Advice</button>

</body>
{%endblock%}
</html>