{% extends "base.html" %}

{% block content %}
<header class="mb-4">
    <h2>Peruse our collection of NPC's!</h2>
    <p>All NPC's on this page were either created by the creator of the site or one of our other users!</p>
</header>
<p>Enjoy!</p>
<a href="{% url 'create_npc' %}" class="btn btn-primary mb-4">Create an NPC</a> <!-- Use 'create_npc' as defined in urls.py -->
<div class="container">
    <div class="row">
        <br>
       <p><b>Name:</b></p>{{ entry.name }} 
       <br>
       <p><b>Genre:</b></p>{{ entry.genre}}
       <br>
       <p><b>Job:</b></p>{{ entry.job }}
       <br>
       <p><b>Description:</b></p>{{ entry.description }}
       <br>
       <p><b>Date and Time:</b></p>{{ entry.date }}
    </div>
</div>
<br>
<a href="{% url 'edit_npc' entry.slug %}">Edit</a>
<form action="{% url 'delete_npc' entry.slug %}" method="post">{% csrf_token %}<button type="submit">Delete</button></form>

{% endblock %}







